<h1>
  Calembar
</h1>

<p>
  A simple date picker, similar in function to
  <a href="http://jqueryui.com/datepicker/">jQuery UI's Datepicker</a>,
  <a href="http://amsul.ca/pickadate.js/">pickadate.js</a>,
  and a billion other JavaScript date pickers.
</p>

<p>
  Simply provide your own CSS!
</p>

<h2>
  Demo:
</h2>

{{calembar-input}}

<h2>
  Usage:
</h2>

<pre><code>&#123;&#123;selectem-input values=tags}}
&lt;p&gt;Selected tags:&lt;/p&gt;
&lt;ul&gt;
  &#123;&#123;#each tag in tags}}
    &lt;li&gt;&#123;&#123;tag}}&lt;/li&gt;
  &#123;&#123;/each}}
&lt;/ul&gt;
</code></pre>

<h2>
  Dependencies:
</h2>

<p>
  Only Ember.js.
</p>

<h2>
  Source code:
</h2>

<p>
  <a href="https://github.com/markprzepiora/ember-firestarters/blob/gh-pages/components/selectem-input.js">JavaScript</a> and
  <a href="https://github.com/markprzepiora/ember-firestarters/blob/gh-pages/components/selectem-input.handlebars">Handlebars</a>.
</p>
