<h1>
  Calembar
</h1>

<p>
  A simple date picker, similar in function to
  <a href="http://jqueryui.com/datepicker/">jQuery UI's Datepicker</a>,
  <a href="http://amsul.ca/pickadate.js/">pickadate.js</a>,
  and a billion other JavaScript date pickers, in about 80 lines of JavaScript.
</p>

<p>
  Simply provide your own CSS!
</p>

<h2>
  Demo:
</h2>

{{calembar-input date=myDate}}
<p>
  You selected
  {{#if myDate}}
    {{myDate}}.
  {{else}}
    (no date).
  {{/if}}
</p>

<h2>
  Usage:
</h2>

<pre><code>&#123;&#123;calembar-input date=myDate&#125;&#125;

&lt;p&gt;
  You selected
  &#123;&#123;#if myDate&#125;&#125;
    &#123;&#123;myDate&#125;&#125;.
  &#123;&#123;else&#125;&#125;
    (no date).
  &#123;&#123;/if&#125;&#125;
&lt;/p&gt;</code></pre>

<h2>
  Dependencies:
</h2>

<p>
  Ember.js,
  <a href="http://momentjs.com/">Moment.js</a>,
  and the <a href="https://github.com/emberjs/group-helper">Group Helper</a>
  for better performance (although you can remove the
  &#123;&#123;#group&#125;&#125; tags if you want to remove this dependency).
</p>

<h2>
  Source code:
</h2>

<p>
  <a href="https://github.com/markprzepiora/ember-firestarters/blob/gh-pages/components/calembar-input.js">JavaScript</a> and
  <a href="https://github.com/markprzepiora/ember-firestarters/blob/gh-pages/components/calembar-input.handlebars">Handlebars</a>.
</p>
