<h1>
  Selectem
</h1>

<p>
  A simple, customizable tagging input, similar in function to
  <a href="http://aehlke.github.io/tag-it/">Tag-it!</a> and
  <a href="http://brianreavis.github.io/selectize.js/">Selectize.js</a>,
  in about 60 lines of JavaScript.
</p>

<p>
  Simply provide your own CSS!
</p>

<h2>
  Demo:
</h2>

<p>
  Enter some animal names below, separated by commas or the Return key. Press
  Backspace/Delete at the prompt to delete a name.
</p>
{{selectem-input values=tags}}
<p class="you-have-selected">
  The cutest animals in the world are
  {{#each tag in tags}}
    <span class="tag">{{tag}}</span>
  {{else}}
    still being decided.
  {{/each}}
</p>

<h2>
  Usage:
</h2>

<pre><code>&#123;&#123;selectem-input values=tags}}

&lt;p&gt;Selected tags:&lt;/p&gt;
&lt;ul&gt;
  &#123;&#123;#each tag in tags}}
    &lt;li&gt;&#123;&#123;tag}}&lt;/li&gt;
  &#123;&#123;/each}}
&lt;/ul&gt;</code></pre>

<h2>
  Dependencies:
</h2>

<p>
  Only Ember.js.
</p>

<h2>
  Source code:
</h2>

<p>
  <a href="https://github.com/markprzepiora/ember-firestarters/blob/gh-pages/components/selectem-input.js">JavaScript</a> and
  <a href="https://github.com/markprzepiora/ember-firestarters/blob/gh-pages/components/selectem-input.handlebars">Handlebars</a>.
</p>
